*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'DMSans-Regular';
    src: url('../fonts/DMSANS/DMSans-Regular.ttf');
}
@font-face {
    font-family: 'DMSans-Medium';
    src: url('../fonts/DMSANS/DMSans-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf');
}

body
{
    margin: auto;
    max-width: 1200px;
    background-color: #fcfbff;
}

/* Шапка*/

.nav
{
    margin-top: 44px;
    display: flex;
    justify-content: space-around;
}
.logo
{
    margin-right: auto;
    font-family: 'Montserrat-Medium';
    font-weight: 700;
    font-size: 24px;
    color: #244d4d;
}
.right-nav
{
    margin-left: auto;
}
.loupe
{
    margin-right: 30px;
}
.spisok
{
    font-family: 'DMSans-Regular';
    font-weight: 400;
    font-size: 16px;
}
header nav ul li 
{
    list-style: none;
    float: left;
    position: relative;
}
 header nav ul li a{
    text-decoration: none;
    color: #161616;
    margin: 50px;
 }
/* Фон с текстом */

section#fon
{
    background: #154444;
    width: 1200px;
    height: 560px;
    margin: auto;
    margin-top: 27px;
    display: flex;
}
.fon-text
{
    width: 671px;
    height: 231px;
    margin-top: 101px;
    margin-left: 100px;
}
.fon-title
{
    font-size: 56px;
    font-weight: 700;
    font-family: 'Montserrat-Regular';
    color: #ffffff;
}
.description
{
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    font-family: 'DMSans-Regular';
    width: 488px;
    height: 75px;
    margin-top: 20px;
}
.fon-button
{
    margin-top: 35px;
    width: 172.58px;
    height: 56px;
    color: #ffffff;
}
.fon-button-link
{
    text-decoration: none;
    color: #154444;
    font-weight: 400;
    font-size: 20px;
    font-family: 'DMSans-Regular';
}

/*Секция №2 Trusted by 20,000+ companies*/

.zagolovok1
{
    text-align: center;
    font-size: 32px;
    color: #244d4d;
    font-weight: 700;
    font-family: 'DMSans-Regular';
    margin-top: 140px;
}
.img-company
{
    margin-top: 40px;
    width: 1082px;
    height: 52px;
    margin-left: 59px;
    display: flex;
    align-items: center;
}

.img-company img {
    margin-right: 100px; /* Устанавливаем отступ справа */
}


/*About Us*/

section#AboutUs
{
    width: 1168px;
    height: 612px;
    margin-top: 140px;
    display: flex;
}
.shadow
{
    width: 631px;
    height: 586px;
    background-color: #dee4e2;
    margin-top: 25px;
}
.about-info
{
    width: 436.73px;
    height: 135px;
    margin-left: 100px;
    margin-top: 47px;
}
.zagolovok-about
{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat-Medium';
    color: #244d4d;
    line-height: 40px;
}
.text-about
{
    font-size: 20px;
    font-weight: 400;
    font-family: 'DMSans-Regular';
    color: #444444;
    line-height: 25px;
    margin-top: 20px;
}
.aboutImg
{
    position: absolute;
    width: 596px;
    height: 577px;
}

/*BestQuality*/

.BestQuality
{
    display: flex;
    margin-top: 40px;
    width: 376px;
    height: 92px;
}
.BestQuality img {
    max-height: 50px;
    object-fit: cover; /* Позволяет сохранить пропорции изображения */
}

/*Secure*/

.Secure
{
    display: flex;
    margin-top: 30px;
    width: 345px;
    height: 92px;
}
.Secure img {
    max-height: 50px;
    object-fit: cover; /* Позволяет сохранить пропорции изображения */
}

/*Free Shpping*/

.Shpping
{
    display: flex;
    margin-top: 30px;
    width: 345px;
    height: 92px;
}
.Shpping img
{
    max-height: 50px;
    object-fit: cover;
}

.info-bestquality-secure-shpping
{
    margin-left: 28px;
}
.title-bestquality-secure-shpping
{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat-Medium';
    color: #244d4d;
}
.text-bestquality-secure-shpping
{
    font-size: 18px;
    font-weight: 400;
    font-family: 'DMSans-Regular';
    color: #383738;
    margin-top: 14px;
}

/*Секция Ourn Popular Furniture*/

section#Our-Popular-Furniture
{
    width: 1200px;
    height: 586px;
    margin-top: 140px;
}
.title-Our-Popular-Furniture
{
    font-size: 32px;
    font-weight: 700;
    color: #242424;
    font-family: 'Montserrat-Medium';
}
.text-Our-Popular-Furniture
{
    font-size: 20px;
    font-weight: 400;
    color: #383738;
    font-family: 'DMSans-Regular';
    margin-top: 20px;
    width: 820px;
}
/*Кнопки перехода*/
.upper-part {
    display: flex;
    justify-content: space-between; /* Разделяет пространство между элементами */
    align-items: center; /* Центрирует элементы по вертикали */
    height: 123px;
}

.knopki {
    display: flex;
    margin-left: auto; /* Прижимает кнопки к правому краю */
    margin-top: auto;
}

.knopka1, .knopka2 {
    width: 40px;
    height: 40px;
    background-color: #f4f6f6;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.knopka1 {
    margin-right: 16px; /* Отступ между кнопками */
}

/*Примеры*/

.examples
{
    width: 1200px;
    height: 382px;
    margin-top: 80px;
    display: flex;
}

.SwanChair1
{
    width: 380px;
    height: 382px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}
.SwanChair2
{
    margin-left: 30px;
    width: 380px;
    height: 382px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}
.title-button {
    display: flex; /* Используем flexbox для расположения элементов в строку */
    align-items: center; /* Центрируем элементы по вертикали */
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 30px;
}

.button-heart-share {
    display: flex; /* Используем flexbox для кнопок */
    margin-left: auto; /* Сдвигаем кнопки вправо */
}
.heart1 {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    display: flex; /* Используем flexbox для центрирования содержимого */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    margin-left: 8px; /* Отступ между кнопками */
    background-color: #EF5423;
}
.share
{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    display: flex; /* Используем flexbox для центрирования содержимого */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    margin-left: 8px; /* Отступ между кнопками */
    background-color: #ecf4ff;
}
.heartwhite {
    width: 10px;
    height: 10px;
}

.title-SwanChair1
{
    font-size: 20px;
    font-weight: 500;
    color: #242424;
    font-family: 'DMSans-Regular';
}
.price-button-title
{
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}
.link-price
{
    text-decoration: none;
    color: #ffffff;
}
.button-price
{
    border: none;
    width: 79px;
    height: 32px;
    background-color: #244d4d;
    margin-left: auto;
}
.title-price
{
    font-size: 24px;
    font-weight: 500;
    font-family: 'DMSans-Regular';
    color: #154444;
}
.heart2 {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: none;
    display: flex; /* Используем flexbox для центрирования содержимого */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    margin-left: 8px; /* Отступ между кнопками */
    background-color: #ecf4ff;
}

/*All Furniture*/

section#All-Furniture
{
    width: 1187px;
    height: 594px;
    margin: auto;
    margin-top: 140px;
}
.title-All-Furniture
{
    font-size: 32px;
    font-weight: 700;
    color: #242424;
    font-family: 'Montserrat-Medium';
    text-align: center;
}
.Shop-category
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/*Shop By Room*/

.category-room 
{
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 24px;
    color: #154444; /* Цвет текста */
    font-family: 'DMSans-Medium';
      
}
.category-room::after 
{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    width: 50%; /* Длина подчеркивания */
    height: 2px; /* Толщина линии */
    background-color: #004b44; /* Цвет подчеркивания */
    transform: translateX(-50%);
}

/*Shop By Category*/

.category-category
{
    font-size: 24px;
    font-weight: 400;
    color: #919090;
    font-family: 'DMSans-Regular';
    margin-left: 100px;
}

/*Shop By Style*/

.category-style
{
    font-size: 24px;
    font-weight: 400;
    color: #919090;
    font-family: 'DMSans-Regular';
    margin-left: 104px;
}
/*Изображение с линиями по бокам*/
.image-container { 
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    position: relative; /* Для абсолютного позиционирования дочерних элементов */
    height: 410px; 
    width: 577px;
}

.rectangle1 {
    width: 190px;
    height: 86px;
    background-color: #154444;
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Сверху */
    left: 0; /* Слева */
    z-index: 1; /* Прямоугольник под изображением */
}

.rectangle2 {
    width: 190px;
    height: 86px;
    background-color: #154444;
    position: absolute; /* Абсолютное позиционирование */
    bottom: 0; /* Снизу */
    right: 0; /* Справа */
    z-index: 1; /* Прямоугольник под изображением */
}

.image-container img {
    position: relative; /* Позиционирование изображения */
    z-index: 2; /* Изображение поверх прямоугольников */
    max-width: 100%; /* Адаптация изображения по ширине контейнера */
    height: auto; /* Сохранение пропорций изображения */
}

.info-allfurniture
{
    height: 410px;
    width: 1187px;
    margin-top: 90px;
    display: flex
}

.primeri-category
{
    width: 474px;
    height: 337px;
    margin-top: 40px;
    margin-left: 135px;
    border: 2px solid black;
}
.primeri1
{
    display: flex;
}
/*Living Room*/
.LivingRoom
{
    width: 222px;
    height: 90px;
    border: 1.5px solid #d9dce5;
    
}
.ImgTextLiving
{
    width: 91px;
    height: 59px;
    text-align: center;
    margin-left: 65.5px;
    margin-top: 15.5px;
}
.text-living
{
    margin-top: 14px;
    font-size: 16px;
    font-weight: 500;
    color: #808080;
    font-family: 'DMSans-Regular';
}
/*Kitchen*/
.Kitchen
{
    width: 222px;
    height: 90px;
    border: 1.5px solid #d9dce5;
    margin-left: 30px;
}
.ImgTextKitchen
{
    width: 91px;
    height: 59px;
    text-align: center;
    margin-left: 65.5px;
    margin-top: 15.5px;
}
.text-Kitchen
{
    margin-top: 14px;
    font-size: 16px;
    font-weight: 500;
    color: #808080;
    font-family: 'DMSans-Regular';
}