*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('/font/Montserrat/static/Montserrat-Medium.ttf');
}

.log
{
    font-family: 'Montserrat-Medium';
    font-size: 24px;
}